name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup .Net
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "10.0.x"

      - name: Restore dependencies
        run: dotnet restore
        
      - name: Build solution
        run: dotnet build --no-restore --configuration Release

  unit-tests:
    name: Unit Tests
    runs-on: ubuntu-latest
    needs: build

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "10.0.x"

      - run: dotnet restore

      - name: Run unit tests
        run: dotnet test --filter "Category!=Integration"   

  integration-tests:
    name: Integration Tests
    runs-on: ubuntu-latest
    needs: unit-tests
    if: github.ref == 'refs/heads/main'

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.0.x'

      - run: dotnet restore

      - name: Run integration tests
        run: dotnet test --filter "Category=Integration"

  
  health-check:
    name: Health Check
    runs-on: ubuntu-latest
    needs: integration-tests

    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 10.0.x

      - name: Build CatalogService
        run: dotnet build src/CatalogService

      - name: Run API
        run: |
          dotnet run --project src/CatalogService &
          sleep 10

      - name: Check liveness endpoint
        run: |
          curl -f http://localhost:5055/health/live

      - name: Start CatalogService
        run: |
          dotnet run --project src/CatalogService &
          sleep 10

      - name: Health check
        run: |
          curl -f http://localhost:5055/health/live    